body{
    position: absolute;
    flex: content;
    margin: 50px 50px ; 
}

.title{ 
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    color:green; 
    border: solid black 2px; 
    border-radius: 20px;
    } 

.middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}    
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
    input[type="button"] 
    { 
    background-color:green; 
    color: black; 
    border: solid black 2px; 
    width:100% 
    } 

    input[type="text"] 
    { 
    background-color:white; 
    border: solid black 2px; 
    width:100% 
    }